<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:task="http://www.springframework.org/schema/task" xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd">
    <task:scheduler id="scheduler" pool-size="10"/>
    <task:executor
            id="executorWithCallerRunsPolicy"
            pool-size="5-25"
            queue-capacity="100"
            rejection-policy="CALLER_RUNS"/>

    <bean id="taskSample1" class="com.github.mccxj.schedule.TaskSample1"/>

    <task:scheduled-tasks scheduler="scheduler">
        <task:scheduled ref="taskSample1" method="run" fixed-delay="5000"/>
    </task:scheduled-tasks>
</beans>